*{
    border: none;
    margin: none;
}

.inputek-ka{
    height: 4vh;
    width: 350px;
    border: solid 1px #000;
}

option{
    width: 350px;
}

.dialog_log{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}